---
import Icon from '../common/icon.astro';
import Button from '../common/button.astro';

export type DescriptionItem = {
  title: string;
  content: string;
};

type Props = {
  title: string;
  imageUrl: string;
  benefits: string[];
  descriptions: DescriptionItem[];
  imageDirection: 'left' | 'right';
  buttonLabel: string;
};

const { title, imageUrl, benefits, descriptions, imageDirection, buttonLabel } = Astro.props;
---

<div class:list={['service', imageDirection === 'left' ? 'image-left' : 'image-right']}>
  {
    imageDirection === 'left' && (
      <figure>
        <img src={imageUrl} alt={title} width="321" height="573" />
      </figure>
    )
  }

  <div class="card white content">
    <h3 class="heading2">{title}</h3>
    <ul>
      {
        descriptions.map((description) => (
          <li>
            <strong>{description.title}:</strong> {description.content}
          </li>
        ))
      }
    </ul>
    <div class="benefits">
      <p><strong>What You Get: </strong></p>
      <ul>
        {
          benefits.map((benefit) => (
            <li>
              <span class="icon-checkbox">
                <Icon name="checkbox" width="20" height="20" />
              </span>
              {benefit}
            </li>
          ))
        }
      </ul>
    </div>
    <Button isOutlined scheduleAppointment>{buttonLabel}</Button>
  </div>
  {
    imageDirection === 'right' && (
      <figure>
        <img src={imageUrl} alt={title} width="321" height="573" />
      </figure>
    )
  }
</div>

<style lang="scss">
  @use '../../styles/abstracts' as *;

  @keyframes fade-in-left {
    from {
      opacity: 0;
      translate: -#{pxtorem(20)};
    }
  }

  @keyframes fade-in-right {
    from {
      opacity: 0;
      translate: pxtorem(20);
    }
  }

  .service {
    display: flex;
    gap: pxtorem(30);

    &.image-left {
      figure {
        @include scroll-animate(fade-in-left, fade-in-left);
      }
      .content {
        @include scroll-animate(fade-in-right, fade-in-right);
      }
    }

    &.image-right {
      figure {
        @include scroll-animate(fade-in-right, fade-in-right);
      }
      .content {
        @include scroll-animate(fade-in-left, fade-in-left);
      }
    }
  }

  h3 {
    margin-bottom: pxtorem(20);
  }

  figure {
    flex-shrink: 0;
    aspect-ratio: 321 / 573;
    overflow: hidden;
    border-radius: pxtorem(12);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content {
    padding: clamp(pxtorem(20), 4vw, pxtorem(40));
  }

  ul {
    list-style: none;
    padding: 0;
    margin-block-end: pxtorem(36);

    > li:not(:last-child) {
      margin-block-end: pxtorem(12);
    }
  }

  strong {
    color: $color-primary-darker;
  }

  .benefits {
    display: flex;
    gap: pxtorem(18);

    li {
      display: flex;
      gap: pxtorem(6);
      align-items: center;
    }
  }

  .icon-checkbox {
    color: rgb(120 167 90);
  }
</style>
