---
export const prerender = true;

import { Image } from 'astro:assets';

import MainLayout from '../layouts/main-layout.astro';
import Icon from '../components/icon.astro';
import FinalEngagement from '../components/final-engagement.astro';
import HeroSection from '../components/hero-section.astro';
import florianMueller from '../media/team/florian-mueller.png';
import jayTijerina from '../media/team/jay-tijerina.png';
import handshake from '../media/about-us/handshake.webp';
import teamSuccess from '../media/about-us/team-success.webp';
---

<MainLayout
  title="About Us"
  description="Find a professional in front-end development with years of experience. Committed to innovation where we deliver scalable, AI-powered digital solutions."
  keywords="Florian Mueller, MUELLER, web development expert, AI-powered solutions, scalable web architecture, frontend development, custom digital strategies, AI-driven onboarding, web performance optimization, technology innovation, digital solutions"
>
  <link rel="preload" href="/images/about-us/team-pairprogramming.webp" as="image" type="image/webp" slot="html-head" />
  <HeroSection image="about-us/team-pairprogramming">
    <h1 class="heading1 inverted">Redefining Digital Excellence with MUELLER Solutions</h1>
    <p class="text-balance text-pretty-mobile">
      Leading the next generation of web development solutions, combining high performance, scalability, and AI-powered
      innovation.
    </p>
    <div class="hero-actions">
      <button id="free-consultation-button" class="button" data-size="large" data-free-consultation>
        Schedule a Free Consultation
      </button>
    </div>
  </HeroSection>
  <!-- Trusted Partner -->
  <section class="section wrapper">
    <div class="even-columns two-columns no-gap items-center">
      <Image
        src={handshake}
        alt="Handshake"
        class="rounded"
        widths={[480, handshake.width]}
        sizes={`(max-width: 480px) 480px, ${handshake.width}px`}
      />
      <div class="card white shadow-strong overlap-left">
        <p class="tagline">A Vision for the Future, Built on Experience</p>
        <h2 class="heading2">Your Partner in Transforming the Digital Experience</h2>
        <p class="body1 text-balance text-pretty-mobile">
          Florian Mueller, the founder of MUELLER Solutions, brings over 20 years of frontend development expertise to
          the table. Florian has led web architecture projects in Europe and the U.S., including Austin, Texas. He has a
          proven record of delivering high-performance, scalable, and cutting-edge web solutions. His goal is to push
          tech limits while meeting clients' needs. This defines every project. Today, Florian is building a company. It
          will offer top web development. It will also use AI to boost user engagement and onboarding.
        </p>
      </div>
    </div>
  </section>
  <!-- Expertise -->
  <section class="section primary">
    <div class="wrapper">
      <header>
        <p class="tagline inverted">Innovation, Performance, and AI-Powered Solutions</p>
        <h2 class="heading2 inverted">What Sets MUELLER Apart</h2>
      </header>
      <ul class="even-columns three-columns">
        <li class="card white shadow align-center fade-from-bottom">
          <Icon name="monitor" width="68" height="68" />
          <h3 class="heading3">20+ Years in Web Development</h3>
          <p class="body2 text-balance text-pretty-mobile">
            We use our experience to solve tough problems with modern, scalable solutions.
          </p>
        </li>
        <li class="card white shadow align-center fade-from-bottom">
          <Icon name="brain" width="68" height="68" />
          <h3 class="heading3">AI-Driven Onboarding Solutions</h3>
          <p class="body2 text-balance text-pretty-mobile">
            Using advanced AI to transform user engagement and onboarding.
          </p>
        </li>
        <li class="card white shadow align-center fade-from-bottom">
          <Icon name="net" width="68" height="68" />
          <h3 class="heading3">Expertise in Cutting-Edge Technology</h3>
          <p class="body2 text-balance text-pretty-mobile">
            We use React.js, Next.js, CI/CD pipelines, and Micro-Frontend architecture. We deliver top-tier solutions.
          </p>
        </li>
        <li class="card white shadow align-center fade-from-bottom">
          <Icon name="target" width="68" height="68" />
          <h3 class="heading3">Client-Focused Approach</h3>
          <p class="body2 text-balance text-pretty-mobile">
            We will understand your business needs. Then, we will create custom digital strategies that drive results.
          </p>
        </li>
        <li class="card white shadow align-center fade-from-bottom">
          <Icon name="proof" width="68" height="68" />
          <h3 class="heading3">Proven Success Across Industries</h3>
          <p class="body2 text-balance text-pretty-mobile">
            A portfolio of successful projects, from e-commerce to SaaS. Each solution is cutting-edge.
          </p>
        </li>
        <li class="card white shadow align-center fade-from-bottom">
          <Icon name="box" width="68" height="68" />
          <h3 class="heading3">Scalable Solutions</h3>
          <p class="body2 text-balance text-pretty-mobile">
            Design systems that grow with your business. They should be valuable and adaptable over time.
          </p>
        </li>
      </ul>
    </div>
  </section>
  <!-- Our Approach -->
  <section class="section gradient-up">
    <div class="wrapper">
      <header>
        <p class="tagline">A Methodical, Collaborative, and Innovative Process</p>
        <h2 class="heading2">How We Deliver Results</h2>
      </header>
      <ul class="even-columns three-columns">
        <li class="card white shadow align-center fade-from-bottom">
          <Icon name="clipboard-search" width="68" height="68" />
          <h3 class="heading3">Consultation & Discovery</h3>
          <p class="body2 text-balance text-pretty-mobile">
            We will explore your business goals, tech issues, and vision.
          </p>
        </li>
        <li class="card white shadow align-center fade-from-bottom">
          <Icon name="pen" width="68" height="68" />
          <h3 class="heading3">Tailored Strategy Development</h3>
          <p class="body2 text-balance text-pretty-mobile">
            We create custom solutions to meet your needs, using the latest technologies.
          </p>
        </li>
        <li class="card white shadow align-center fade-from-bottom">
          <Icon name="plug" width="68" height="68" />
          <h3 class="heading3">Collaborative Design & Execution</h3>
          <p class="body2 text-balance text-pretty-mobile">
            We work closely with you to realize your vision. We will ensure the project meets your goals.
          </p>
        </li>
        <li class="card white shadow align-center fade-from-bottom">
          <Icon name="brain" width="68" height="68" />
          <h3 class="heading3">AI-Powered Enhancements</h3>
          <p class="body2 text-balance text-pretty-mobile">
            We integrate AI solutions to enhance onboarding and user engagement.
          </p>
        </li>
        <li class="card white shadow align-center fade-from-bottom">
          <Icon name="pie-chart" width="68" height="68" />
          <h3 class="heading3">Ongoing Optimization & Support</h3>
          <p class="body2 text-balance text-pretty-mobile">
            After the project is live, we will improve it and support it long-term to meet changing needs.
          </p>
        </li>
        <li class="card white shadow align-center fade-from-bottom">
          <Icon name="communicate" width="68" height="68" />
          <h3 class="heading3">Transparent Communication</h3>
          <p class="body2 text-balance text-pretty-mobile">
            You'll receive clear, consistent updates throughout the project.
          </p>
        </li>
      </ul>
    </div>
  </section>
  <!-- Our Team -->
  <section class="section">
    <div class="wrapper">
      <header>
        <p class="tagline">A Team of Experts Committed to Excellence</p>
        <h2 class="heading2">Meet Our Team</h2>
      </header>
      <ul class="even-columns four-columns gap-4">
        <li class="flex flex-col items-center gap-1 col-1 col-offset-1">
          <Image
            src={florianMueller}
            alt="Florian Mueller"
            class="rounded"
            widths={[480, florianMueller.width]}
            sizes={`(max-width: 480px) 480px, ${florianMueller.width}px`}
          />
          <div class="flex flex-col items-center text-center">
            <h3 class="heading3">Florian Mueller</h3>
            <p class="body1">Founder & CEO</p>
          </div>
        </li>
        <li class="flex flex-col items-cente gap-1 col-1">
          <Image
            src={jayTijerina}
            alt="Jay Tijerina"
            class="rounded"
            widths={[480, jayTijerina.width]}
            sizes={`(max-width: 480px) 480px, ${jayTijerina.width}px`}
          />
          <div class="flex flex-col items-center text-center">
            <h3 class="heading3">Jay Tijerina</h3>
            <p class="body1">Sales & Business Development</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <!-- Why Choose Us -->
  <section class="section wrapper">
    <div class="even-columns two-columns no-gap items-center fade-from-left">
      <div class="card white shadow-strong overlap-right">
        <p class="tagline">Your Success, Our Mission</p>
        <h2 class="heading2">Why Choose Us?</h2>
        <p class="body1 text-balance text-pretty-mobile">
          At MUELLER, we deliver digital solutions that matter to your business. We are dedicated to helping your
          business thrive. Whether to improve website performance, scale your infrastructure, or use AI. We aim for
          long-term success. We offer support and the flexibility to adapt as your business grows in the digital age.
        </p>
      </div>
      <Image
        src={teamSuccess}
        alt="Team Success"
        class="rounded fade-from-right"
        widths={[480, teamSuccess.width]}
        sizes={`(max-width: 480px) 480px, ${teamSuccess.width}px`}
      />
    </div>
  </section>
  <FinalEngagement />
</MainLayout>
