---
type Props = {
  title: string;
  description: string;
  icon: string;
  href?: string;
};

const { title, description, icon, href } = Astro.props;
---

<li class="solution fade-from-bottom">
  <div>
    <div class="icon zoom-in">
      <div class="mask" style={`--icon: url('/images/icons/${icon}.svg');`}></div>
    </div>
  </div>
  <div class="solution-content">
    <h1 class="solution-heading">{title}</h1>
    <p class="solution-description">{description}</p>
  </div>
  {
    href && (
      <div>
        <a href={href} class="link" title={`Learn more about ${title}`}>
          Learn More <span class="sr-only">about {title}</span>
        </a>
      </div>
    )
  }
</li>
