---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';
import BlogPostDate from './blog-post-date.astro';

type Props = {
  post: CollectionEntry<'blog'>;
  type: 'featured' | 'preview' | 'latest';
  index: number;
};

const { post, type = 'preview', index } = Astro.props;
const postImage = post.data.image;
---

<article
  class:list={[
    type !== 'latest' && 'card white shadow-strong no-padding',
    'post',
    type,
    type === 'latest' && 'flex items-center gap-1',
  ]}
>
  {
    postImage && (
      <figure>
        {typeof postImage === 'string' ? (
          <img src={postImage} alt={post.data.title} loading="lazy" decoding="async" />
        ) : (
          <Image
            src={postImage}
            alt={post.data.title}
            layout="responsive"
            width="448"
            widths={[390, 448]}
            sizes="(max-width: 440px) 390px, 448px"
            loading={index < 3 ? 'eager' : 'lazy'}
          />
        )}
      </figure>
    )
  }
  {
    type === 'latest' ? (
      <header>
        <BlogPostDate date={post.data.posted} />
        <h2 class="heading3">
          <a href={`/blog/${post.slug}`} set:html={post.data.title} />
        </h2>
      </header>
    ) : (
      <div class="content">
        <BlogPostDate date={post.data.posted} />
        <header>
          <h2>
            <a href={`/blog/${post.slug}`} set:html={post.data.title} />
          </h2>
        </header>
        <Fragment set:html={post.data.excerpt} />
      </div>
    )
  }
</article>
