---
type Props = {
  title?: string;
  description?: string;
  keywords?: string;
};

const { title, description, keywords } = Astro.props;

const websiteTitle =
  "Expert Front End Development Services for Fast, Stable, and High-Performance Web Apps | MUELLER";
const htmlTitle = title ? `${title} | ${websiteTitle}` : websiteTitle;
const htmlDescription = description
  ? description
  : "Enhance your web app development with expert front end development services. We specialize in building faster, more stable web applications through speed optimization and advanced front end solutions. Achieve your goals efficiently and effectively.";
const htmlKeywords = keywords
  ? keywords
  : "front end development, front end development services, web app development, frontend consulting, performance optimization, scalable web applications, speed optimization, Progressive Web Apps, server-side rendering, React development, code optimization, cross-browser compatibility, user experience design, UI/UX consulting, web performance, frontend architecture, micro-frontend architecture, responsive web design, SEO for web apps, modern frontend development";
---

<meta charset="UTF-8" />
<meta
  name="viewport"
  content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"
/>
<title>{htmlTitle}</title>
<meta name="description" content={htmlDescription} />
<meta name="keywords" content={htmlKeywords} />
<meta property="og:title" content={htmlTitle} />
<meta property="og:type" content="website" />
<meta property="og:description" content={htmlDescription} />
<meta
  property="og:image"
  content="https://mueller-solutions.dev/images/og-mueller-solutions.jpg"
/>
<meta name="author" content="Mueller Solutions, LLC. Austin, TX" />
<link
  rel="apple-touch-icon"
  sizes="57x57"
  href="/assets/apple-icon-57x57.png"
/>
<link
  rel="apple-touch-icon"
  sizes="60x60"
  href="/assets/apple-icon-60x60.png"
/>
<link
  rel="apple-touch-icon"
  sizes="72x72"
  href="/assets/apple-icon-72x72.png"
/>
<link
  rel="apple-touch-icon"
  sizes="76x76"
  href="/assets/apple-icon-76x76.png"
/>
<link
  rel="apple-touch-icon"
  sizes="114x114"
  href="/assets/apple-icon-114x114.png"
/>
<link
  rel="apple-touch-icon"
  sizes="120x120"
  href="/assets/apple-icon-120x120.png"
/>
<link
  rel="apple-touch-icon"
  sizes="144x144"
  href="/assets/apple-icon-144x144.png"
/>
<link
  rel="apple-touch-icon"
  sizes="152x152"
  href="/assets/apple-icon-152x152.png"
/>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/assets/apple-icon-180x180.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/assets/favicon-16x16.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/assets/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="96x96"
  href="/assets/favicon-96x96.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="192x192"
  href="/assets/android-icon-192x192.png"
/>

<link rel="shortcut icon" href="/assets/favicon.ico" />
<link rel="manifest" href="./site.webmanifest" />
<link
  rel="preload"
  fetchpriority="high"
  as="image"
  href="/images/hero-background.webp"
  type="image/webp"
/>
<link
  rel="preload"
  fetchpriority="high"
  as="image"
  href="/images/florian-mueller.webp"
  type="image/webp"
/>
<!-- Calendly widget -->
<link
  href="https://assets.calendly.com/assets/external/widget.css"
  rel="stylesheet"
  media="screen"
/>
<script
  src="https://assets.calendly.com/assets/external/widget.js"
  type="text/javascript"
  is:inline
  async
  defer></script>
<!-- Google tag (gtag.js) -->
<script
  async
  defer
  is:inline
  type="text/javascript"
  src="https://www.googletagmanager.com/gtag/js?id=G-777G6E86XK"></script>
<!-- App Scripts -->
<script is:inline src="/js/app.js"></script>
