---
import { Picture } from 'astro:assets';
import Icon from './icon.astro';

type Props = {
  quote: string;
  author: string;
  company: string;
  image: string;
  href?: string;
};

const { quote, author, company, image, href } = Astro.props;
---

<div class="card white shadow slim fade-from-bottom">
  <Icon name="rating-stars" class="rating-stars" width="82" height="14" />
  <p class="body2">
    {quote}
  </p>
  <div class="flex gap-1">
    <a href={href} rel="nofollow">
      <Picture src={image} alt={author} inferSize class="circle" formats={['avif', 'webp']} width={40} height={40} />
    </a>
    <div>
      <p class="heading4">{author}</p>
      <p class="body3 text-balance text-pretty-mobile">{company}</p>
    </div>
  </div>
</div>
