---
type Props = {
  name: string;
  width?: string | number;
  height?: string | number;
  class?: string;
};

const { name, width, height, class: className } = Astro.props;
const style = [
  `--icon: url('/images/icons/icon-${name}.svg')`,
  width && `--width: ${width}px`,
  height && `--height: ${height}px`,
].join('; ');
---

<span style={style} class={className}></span>

<style lang="scss">
  @use '../../styles/abstracts' as *;

  span {
    display: block;
    width: var(--width, #{pxtorem(24)});
    height: var(--height, #{pxtorem(24)});
    mask-image: var(--icon);
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: currentColor;
  }
</style>
