---
type Props = {
  tagline?: string;
  title: string;
  description: string;
  imageUrl: string;
  imageAlign?: 'left' | 'right';
};

const { tagline, title, description, imageUrl, imageAlign = 'left' } = Astro.props;
---

<section class:list={['one-picture-card', 'wrapper', `align-${imageAlign}`]}>
  {
    imageAlign === 'left' && (
      <figure class="fade-from-left">
        <img src={imageUrl} width="699" height="484" alt={title} loading="lazy" />
      </figure>
    )
  }
  <div class:list={['content card white shadow', imageAlign === 'left' ? 'fade-from-right' : 'fade-from-left']}>
    {tagline && <p class="tagline">{tagline}</p>}
    <h2 class="heading2">{title}</h2>
    <p>{description}</p>
    <slot />
  </div>

  {
    imageAlign === 'right' && (
      <figure class="fade-from-right">
        <img src={imageUrl} width="699" height="484" alt={title} loading="lazy" />
      </figure>
    )
  }
</section>
