---
import '../styles/main.css';
import Header from '../components/site-header.astro';
import Footer from '../components/site-footer.astro';
import GoogleTagManager from '../components/google-tag-manager.astro';
import PipedriveChatbot from '../components/pipedrive-chatbot.astro';
import Calendly from '../components/calendly.astro';
import Scripts from '../components/scripts.astro';

type Props = {
  title?: string;
  description?: string;
  keywords?: string;
  class?: string;
  ogImage?: string;
};

const { title, description, keywords, class: className, ogImage = '/images/og-mueller-solutions.jpg' } = Astro.props;
const baseURL = Astro.url.origin;

const htmlTitle = title ?? 'Expert Frontend Development and Frontend Consulting | MUELLER';
const htmlDescription =
  description ??
  'Enhance your web app development with expert frontend development and frontend consulting services. We specialize in building faster, more stable web applications through speed optimization and advanced frontend solutions. Achieve your goals efficiently and effectively.';
const htmlKeywords =
  keywords ??
  'frontend development, frontend consulting, frontend development services, frontend consulting services, web app development, frontend consulting, performance optimization, scalable web applications, speed optimization, Progressive Web Apps, server-side rendering, React development, code optimization, cross-browser compatibility, user experience design, UI/UX consulting, web performance, frontend architecture, micro-frontend architecture, responsive web design, SEO for web apps, modern frontend development';
---

<!doctype html>
<html lang="en">
  <head>
    <GoogleTagManager />
    <base href={baseURL} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no" />
    <title>{htmlTitle}</title>
    <meta name="description" content={htmlDescription} />
    <meta name="keywords" content={htmlKeywords} />
    <meta property="og:title" content={htmlTitle} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={htmlDescription} />
    <meta property="og:image" content={ogImage} />
    <meta name="author" content="DevBucket, LLC. Austin, TX" />
    <link rel="preconnect" href="//assets.calendly.com" />
    <link rel="preconnect" href="//unpkg.com" />
    <link rel="preconnect" href="//www.googletagmanager.com" />
    <link rel="preconnect" href="//region1.google-analytics.com" />
    <link rel="preconnect" href="//leadbooster-chat.pipedrive.com" />
    <link rel="preconnect" href="//static.hotjar.com" />
    <link rel="preconnect" href="//script.hotjar.com" />
    <link rel="preconnect" href="//content.hotjar.io" />
    <link rel="preconnect" href="//i0.wp.com" />
    <link rel="preconnect" href="//media.licdn.com" />
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/android-icon-192x192.png" />
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="preload" as="font" href="/fonts/poppins-regular.woff2" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" as="font" href="/fonts/poppins-medium.woff2" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" as="font" href="/fonts/poppins-semibold.woff2" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" as="font" href="/fonts/poppins-semibold.woff2" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" as="font" href="/fonts/poppins-bold.woff2" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" as="script" href="/htmx.min.js" type="text/javascript" />
    <link rel="preload" as="script" href="/pipedrive-chatbot.js" type="text/javascript" />
    <slot name="html-head" />
    <script src="/htmx.min.js" type="text/javascript" is:inline></script>
    <Calendly />
    <Scripts />
  </head>
  <body class={className}>
    <Header />
    <slot />
    <Footer />
    <PipedriveChatbot />
  </body>
</html>
