---
import '../styles/main.css';
import Header from '../components/site-header.astro';
import Footer from '../components/site-footer.astro';

type Props = {
  title?: string;
  description?: string;
  keywords?: string;
  class?: string;
  ogImage?: string;
};

const {
  title,
  description,
  keywords,
  class: className,
  ogImage = 'https://mueller-solutions.dev/images/og-mueller-solutions.jpg',
} = Astro.props;
const baseURL = Astro.url.origin;

const htmlTitle = title ?? 'Expert Frontend Development and Frontend Consulting | MUELLER';
const htmlDescription =
  description ??
  'Enhance your web app development with expert frontend development and frontend consulting services. We specialize in building faster, more stable web applications through speed optimization and advanced frontend solutions. Achieve your goals efficiently and effectively.';
const htmlKeywords =
  keywords ??
  'frontend development, frontend consulting, frontend development services, frontend consulting services, web app development, frontend consulting, performance optimization, scalable web applications, speed optimization, Progressive Web Apps, server-side rendering, React development, code optimization, cross-browser compatibility, user experience design, UI/UX consulting, web performance, frontend architecture, micro-frontend architecture, responsive web design, SEO for web apps, modern frontend development';
---

<!doctype html>
<html lang="en">
  <head>
    <script is:inline>
      // Google Tag Manager
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-THLJKDVF');
    </script>
    <base href={baseURL} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no" />
    <title>{htmlTitle}</title>
    <meta name="description" content={htmlDescription} />
    <meta name="keywords" content={htmlKeywords} />
    <meta property="og:title" content={htmlTitle} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={htmlDescription} />
    <meta property="og:image" content={ogImage} />
    <meta name="author" content="DevBucket, LLC. Austin, TX" />
    <link rel="preconnect" href="//assets.calendly.com" />
    <link rel="preconnect" href="//unpkg.com" />
    <link rel="preconnect" href="//www.googletagmanager.com" />
    <link rel="preconnect" href="//region1.google-analytics.com" />
    <link rel="preconnect" href="//leadbooster-chat.pipedrive.com" />
    <link rel="preconnect" href="//static.hotjar.com" />
    <link rel="preconnect" href="//script.hotjar.com" />
    <link rel="preconnect" href="//content.hotjar.io" />
    <link rel="preconnect" href="//i0.wp.com" />
    <link rel="preconnect" href="//media.licdn.com" />
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/android-icon-192x192.png" />
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="preload" as="font" href="/fonts/poppins-regular.woff2" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" as="font" href="/fonts/poppins-medium.woff2" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" as="font" href="/fonts/poppins-semibold.woff2" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" as="font" href="/fonts/poppins-semibold.woff2" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" as="font" href="/fonts/poppins-bold.woff2" type="font/woff2" crossorigin="anonymous" />
    <!-- Calendly widget -->
    <link rel="preload" href="https://assets.calendly.com/assets/external/widget.css" as="style" type="text/css" />
    <link
      rel="preload"
      href="https://assets.calendly.com/assets/external/widget.js"
      as="script"
      type="text/javascript"
    />
    <slot name="html-head" />
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet" media="screen" />
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" is:inline async></script>
    <script is:inline>
      // Navigation
      document.addEventListener('DOMContentLoaded', () => {
        const navToggle = document.querySelector('[aria-controls="main-navigation"]');
        const menuEl = document.getElementById('main-navigation');
        const subNavToggle = document.querySelector('[aria-controls="services-navigation"]');
        const subMenuEl = document.getElementById('services-navigation');
        const modalTriggers = document.querySelectorAll('[data-modal-trigger]');

        function toggleNav(toggle, menu) {
          const isOpen = toggle.getAttribute('aria-expanded') === 'true';

          if (isOpen) {
            menu?.classList.add('out');
            setTimeout(() => {
              toggle.setAttribute('aria-expanded', 'false');
              menu?.classList.remove('out');
            }, 200);
          } else {
            toggle.setAttribute('aria-expanded', 'true');
          }
        }

        function openModal(modalId) {
          document.getElementById(modalId).showModal();
        }

        function closeModal(modalId) {
          const modal = document.getElementById(modalId);

          modal.classList.add('out');
          setTimeout(() => {
            modal.close();
            modal.classList.remove('out');
          }, 200);
        }

        navToggle?.addEventListener('click', (event) => {
          event.preventDefault();
          event.stopPropagation();
          toggleNav(navToggle, menuEl);
        });

        subNavToggle?.addEventListener('click', (event) => {
          event.preventDefault();
          event.stopPropagation();
          toggleNav(subNavToggle, subMenuEl);
        });

        document.addEventListener('click', (event) => {
          const subNavOpen = subNavToggle?.getAttribute('aria-expanded') === 'true';
          if (subNavOpen && !subMenuEl?.contains(event.target) && !subNavToggle?.contains(event.target)) {
            toggleNav(subNavToggle, subMenuEl);
          }
        });

        modalTriggers.forEach((trigger) => {
          trigger.addEventListener('click', (event) => {
            event.preventDefault();
            event.stopPropagation();

            const modal = document.getElementById(trigger.dataset.modalTrigger);
            const modalCloseBtn = modal.querySelector('[data-modal-close]');
            openModal(trigger.dataset.modalTrigger);

            modalCloseBtn?.addEventListener('click', (event) => {
              event.preventDefault();
              event.stopPropagation();
              closeModal(trigger.dataset.modalTrigger);
            });

            document.addEventListener('keydown', (event) => {
              if (event.key === 'Escape') {
                event.preventDefault();
                event.stopPropagation();
                closeModal(trigger.dataset.modalTrigger);
              }
            });
          });
        });
      });

      function scroll() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.querySelector('.site-header')?.classList.add('scrolled');
        } else {
          document.querySelector('.site-header')?.classList.remove('scrolled');
        }
      }
      window.onscroll = scroll;
    </script>
  </head>
  <body class={className}>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
